@charset "UTF-8";
@import "reset.css";
@import "form.css";
@import "global.css";
@import "com.css";
@import "tree.css";

body {padding:10px;}
.manager-op {margin-bottom:0.5em;padding:0.5em 0;border-bottom:1px solid #ddd;display: flex;}
.manager-op>.link {margin:0 10px;max-width: 50px;}
.manager-op .drop-list {max-width: 65px;}
.manager-op>* {flex:1;}

#search-form legend {display:none;}
#search-form input[type=search] {display:block; width:100%;}
#search-form fieldset {position:relative;}
#search-form input[type=submit] {position:absolute; right:0; top:0;}

.bookmark-checking progress {display:block;width: 100%;margin: 5px 0;}
.bookmark-checking .percent {float:right;}
.bookmark-checking .current-site a {color:#ccc !important; display:inline-block; max-height:1.5em; overflow:hidden}