@charset "UTF-8";

.bookmark-tree {font-size:14px; min-height:400px; height:calc(100vh - 80px); overflow-y:auto;}

.bookmark-tree,
.bookmark-tree ul,
.bookmark-tree li { position:relative;list-style:none; }

.bookmark-tree > li:before,
.bookmark-tree > li:after {display:none;}
.bookmark-tree ul {padding-left:24px;}

.bookmark-tree .collapsed > ul {display:none;}

.bookmark-tree li:before,
.bookmark-tree li:after {content:"";position:absolute;left:-12px;}
.bookmark-tree li:before {border-top:1px solid #aaaaaa;top:16px;width:10px;height:0;}

.bookmark-tree li:after {border-left:1px solid #aaaaaa;height:100%;width:0px;top:2px;}
.bookmark-tree ul > li:last-child:after {height:14px;}
.bookmark-tree .item-wrap:hover {background-color:#eee}
.bookmark-tree .item-focus {background-color:#eee;box-shadow: inset 1px 1px 5px 0px #d8d8d8;}
.bookmark-tree .item-wrap {padding:3px 5px;}

.bookmark-tree .remark,
.bookmark-tree .fold {vertical-align:middle;cursor:pointer;height: 1.5em;overflow: hidden;/* display: block; */margin-right: 50px;color: #d68a00;}
.bookmark-tree .remark {color: #6d6dab;}
.bookmark-tree .fold:before {content:"\e696";font-family:var(--iconfont);margin-right:0.5em;}
.bookmark-tree .collapsed>.item-wrap>.fold:before {content:"\e600"}
.bookmark-tree .cnt {color:#ccc;display:inline-block;margin: 0 0 0 5px;vertical-align: middle;font-size: 10px;}
.bookmark-tree .cnt:before {content:"("}
.bookmark-tree .cnt:after {content:")"}

.bookmark-tree .drop-list {position: absolute;right:3px;top:3px;/* opacity:0.2; */transition:all 0.2s linear;}
.bookmark-tree .drop-list dt {color:gray;}
.bookmark-tree .item-wrap:hover>.drop-list {opacity:1}