@charset "UTF-8";

.bookmark-tree {font-size:14px; min-height:400px; max-height:calc(100vh - 80px); overflow-y:auto;}

.bookmark-tree,
.bookmark-tree ul,
.bookmark-tree li { position:relative;list-style:none; }

.bookmark-tree > li:before,
.bookmark-tree > li:after {display:none;}
.bookmark-tree ul {padding-left:24px;}

.bookmark-tree .collapsed > ul {display:none;}

.bookmark-tree li:before,
.bookmark-tree li:after {content:"";position:absolute;left:-12px;}
.bookmark-tree li:before {border-top:1px solid #aaaaaa;top:16px;width:10px;height:0;}

.bookmark-tree li:after {border-left:1px solid #aaaaaa;height:100%;width:0px;top:2px;}
/*.bookmark-tree li:hover {background-color:rgba(26, 117, 242, 0.05);}*/
.bookmark-tree ul > li:last-child:after {height:14px;}

.bookmark-tree .remark,
.bookmark-tree .fold {vertical-align:middle;cursor:pointer;padding: 5px 0 0 2px;height: 1.5em;overflow: hidden;display: block;margin-right: 50px;}
.bookmark-tree .fold:hover {color:var(--color)}
.bookmark-tree .remark:before,
.bookmark-tree .fold:before {content:"\e696"; font-family:var(--iconfont); margin-right:0.5em;}
.bookmark-tree .collapsed>.fold:before {content:"\e600"}
.bookmark-tree .remark:before {content:"\e6de"; color:gray;}
.bookmark-tree .remark:hover:before {color:var(--color)}
.bookmark-tree .url {color:#aaa;margin: 5px 0.5em 0;display:inline-block;vertical-align:middle;}
.bookmark-tree li:hover>.url {display:inline-block}

.bookmark-tree .cnt {color:#ccc;display:inline-block;margin: 0 0 0 5px;vertical-align: middle;font-size: 10px;}
.bookmark-tree .cnt:before {content:"("}
.bookmark-tree .cnt:after {content:")"}

.bookmark-tree .op {position: absolute;right: 0;top: 5px; opacity:0.2; transition:all 0.2s linear;}
.bookmark-tree li:hover>.op {opacity:1}
.bookmark-tree .edit-btn,
.bookmark-tree .remove-btn{display:inline-block;color:gray;margin-left: 5px;width: 15px;overflow: hidden;}
.bookmark-tree .edit-btn:before,
.bookmark-tree .remove-btn:before {content:"\e60f"; font-family:var(--iconfont); margin-right:0.2em;}
.bookmark-tree .remove-btn:before {content:"\e61a"}